body {
  background-image: url(../src/simplistic-mountain-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

/*
 * Heading
*/
.heading {
  color: white;
  opacity: 0.9;
}

.heading-title {
  text-shadow: 0 0 20px #b66f97;
  font-weight: bolder;
}

.heading-subtitle {
  text-shadow: 0 0 20px #000;
  font-weight: bold;
}

.head-to-body-divider {
  padding-bottom: 520px;
}

/*
 *** About Me ***
*/
.body {
  color: white;
  opacity: 0.85;
}

.about-box {
  display: flex;
}

.tab-title {
  font-weight: bold;
}

.tab-content {
  font-weight: normal;
}

.about-btn-container {
  display: flex;
}

.about-btn {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  position: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.15)
  );
  border: rgba(255, 255, 255, 0.1) solid 1px;
}
.about-btn:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
  animation: about-btn-hover 0.25s forwards;
}

.about-btn-active {
  color: white;
  position: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.25)
  );
}
.about-btn-active:hover {
  color: inherit;
  text-shadow: inherit;
  animation: inherit;
}

.custom-icon {
  height: 30px;
  width: auto;
}

/*
 * About Me - Experience
*/
.pr-btn {
  animation: pr-btn-init 0.5s forwards;
  background-color: rgba(255, 255, 255, 0) !important;
}
.pr-btn:hover {
  animation: pr-btn-hover 0.5s forwards;
  border: solid rgba(0, 0, 0, 0) !important;
}

.pr-btn-active {
  animation: pr-btn-hover 0.5s forwards;
  border: solid rgba(0, 0, 0, 0) !important;
}

#csharp {
  background: url("../src/icons/programming_languages/csharp_logo.png")
    no-repeat center;
  border: solid rgba(140, 72, 143, 0.5) 2px;
}
#csharp:hover {
  background-color: rgba(140, 72, 143, 0.5) !important;
}

#cplusplus {
  background: url("../src/icons/programming_languages/cplusplus_logo.png")
    no-repeat center;
  border: solid rgba(93, 139, 195, 0.5) 2px;
}
#cplusplus:hover {
  background-color: rgba(93, 139, 195, 0.5) !important;
}

#java {
  background: url("../src/icons/programming_languages/java_logo.png") no-repeat
    center;
  border: solid rgba(78, 118, 155, 0.5) 2px;
}
#java:hover {
  background-color: rgba(78, 118, 155, 0.5) !important;
}

#python {
  background: url("../src/icons/programming_languages/python_logo.png")
    no-repeat center;
  border: solid rgba(52, 109, 162, 0.5) 2px;
}
#python:hover {
  background-color: rgba(52, 109, 162, 0.5) !important;
}

#php {
  background: url("../src/icons/programming_languages/php_logo.png") no-repeat
    center;
  border: solid rgba(225, 225, 234, 0.5) 2px;
}
#php:hover {
  background-color: rgba(225, 225, 234, 0.5) !important;
}

#haskell {
  background: url("../src/icons/programming_languages/haskell_logo.png")
    no-repeat center;
  border: solid rgba(136, 119, 184, 0.5) 2px;
}
#haskell:hover {
  background-color: rgba(136, 119, 184, 0.5) !important;
}

.pr-tab {
  display: none;
  position: absolute;
}

/*
 * Animations
*/
@keyframes about-btn-hover {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@keyframes pr-btn-init {
  from {
    padding: 50px;
  }
  to {
    padding: 30px;
  }
}
@keyframes pr-btn-hover {
  from {
    padding: 30px;
  }
  to {
    padding: 50px;
  }
}

/*
 * Responsiveness
*/
@media only screen and (max-width: 400px) {
  .head-to-body-divider {
    padding-bottom: 220px;
  }
}
@media only screen and (max-width: 800px) {
  .about-box {
    display: contents;
  }
}
@media only screen and (min-width: 801px) {
  .about-btn-box {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .about-btn-container {
    text-align: center;
  }
  .about-title-box {
    text-align: center;
  }
}
