body {
  background-image: url(../src/simplistic-mountain-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.heading {
  color: white;
  opacity: 0.9;
}

.heading-title {
  text-shadow: 0 0 20px #b66f97;
  font-weight: bolder;
}

.heading-subtitle {
  text-shadow: 0 0 20px #000;
  font-weight: bold;
}

.body {
  color: white;
  opacity: 0.85;
}

.about-box {
  display: flex;
}

.tab-title {
  font-weight: bold;
}

.tab-content {
  font-weight: normal;
}

.about-btn-container {
  display: flex;
}

.about-btn {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  position: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.15)
  );
  border: rgba(255, 255, 255, 0.1) solid 1px;
}
.about-btn:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
  animation: about-btn-hover 0.25s forwards;
}

.about-btn-active {
  color: white;
  position: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.25)
  );
}
.about-btn-active:hover {
  color: inherit;
  text-shadow: inherit;
  animation: inherit;
}

.custom-icon {
  height: 30px;
  width: auto;
}

#pl {
  font-size: 30px;
  font-weight: bolder;
}

#info-circle-grading {
  color: rgba(255, 255, 255, 0.75);
}

#info-circle-grading:hover {
  color: white;
}

#ongoing {
  font-size: 14px;
  color: orange;
}

/*
 * Animations
*/
@keyframes about-btn-hover {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/*
 * Responsiveness
*/
@media only screen and (max-width: 800px) {
  .about-box {
    display: contents;
  }
}
@media only screen and (min-width: 801px) {
  .about-btn-box {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .about-btn-container {
    text-align: center;
    display: block;
  }
  .about-title-box {
    text-align: center;
  }
}
