body {
  background-color: black !important;
  height: 100%;
  font-family: monospace, "Quicksand", sans-serif;
  font-size: 18px;
}

.linux {
  color: white !important;
}

.initial-console {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  float: left;
  font-size: 16px;
  text-overflow: ellipsis;
  width: 100%;

  /* Required for text-overflow to do anything */
  overflow: visible;
  /*animation: unload-console 0.1s 12s forwards;*/
}

@media only screen and (max-width: 600px) {
  .initial-console {
    float: none;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    white-space: pre-line;
  }
}

.console {
  width: 100%;
  font-family: monospace, "Quicksand", sans-serif;
  opacity: 0;
  color: white;
  float: left;
  /*animation: load-console 0.1s 12s forwards;*/
}

.skip-btn {
  color: #aaaaaa !important;
  cursor: pointer;
  padding: 6px;
  text-shadow: 0 0 20px #aaaaaa;
}
.skip-btn:hover {
  text-shadow: 0 0 20px #ffffff;
}

.console-input {
  display: flex;
}

.console-input-label {
  padding-top: 8px;
  width: auto;
}

.console-input-field {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  width: 100%;
}

#terminal-line {
  line-height: 16px;
  margin-bottom: 4px;
}

.c1 {
  animation: typing-c1 1.2s steps(19, end);
  width: 230px;
}

.c2 {
  width: 0px;
  animation: typing-c2 1.2s steps(20, end) forwards;
  animation-delay: 3s;
}

.c3 {
  width: 0px;
  animation: typing-c3 1.2s steps(20, end) forwards;
  animation-delay: 5s;
}

@keyframes typing-c1 {
  from {
    width: 0;
  }
  to {
    width: 230px;
  }
}

@keyframes typing-c2 {
  from {
    width: 0px;
  }
  to {
    width: 240px;
  }
}

@keyframes typing-c3 {
  from {
    width: 0px;
  }
  to {
    width: 320px;
  }
}

@keyframes load-console {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes unload-console {
  from {
    display: initial;
  }
  to {
    display: none;
    width: 0;
  }
}

@keyframes remove {
  to {
    width: 0;
    opacity: 0;
  }
}
