#social-icon {
  color: whitesmoke;
  opacity: 0.9;
  font-size: 40px;
}

#social-icon:hover {
  opacity: 1;
}

#navbarSupportedContent {
  padding-left: 15%;
}

.name-link:hover:hover {
  text-decoration: none;
}

.name-link:hover #name-br {
  text-shadow: 0 0 20px white;
}

.name {
  font-size: 26px;
  color: white;
}

.firstname {
  overflow:hidden;
  font-size: 26px;
}

#firstname {
  color: white;
}
#firstname:hover {
  text-decoration: none;
}

#name-br {
  display: inline;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 6px;
  padding-left: 2px;
  box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
  animation: shine 2s forwards 1.5s, pulse 4s forwards 4s infinite;
}

.lastname {
  width: 120px;
  animation: reveal 7s forwards;
  overflow:hidden;
}

#surname {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
#surname:hover {
  text-decoration: none;
}

.lastname span {
  margin-left:-355px;
  animation: slidein 7s forwards;
  overflow:hidden;
}

.social-img {
  width: 40px;
  height: auto;
  opacity: 0.9;
}

.social-img:hover {
  opacity: 1;
}

.dropdown-label {
  color: white;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-item {
  color: white !important;
  text-shadow: 0 0 20px #000;
}

.dropdown-item:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05) !important;
  text-shadow: 0 0 5px #b66f97;
}

.social-logo {
  display: flex;
  background-color: white;
  margin-top: 4px;
  padding: 17px;
  opacity: 0.9;
  transition: background-color 0.5s;
}
.social-logo:hover {
  opacity: 1;
}

.gh-logo {
  -webkit-mask: url(../src/icons/github.svg) no-repeat center;
  mask: url(../src/icons/github.svg) no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.li-logo {
  -webkit-mask: url(../src/icons/linkedin.svg) no-repeat center;
  mask: url(../src/icons/linkedin.svg) no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

/*
 * Responsiveness
*/
@media only screen and (max-width: 990px) {
  #navbarSupportedContent {
    padding-left: 0;
  }
}

@media only screen and (max-width: 380px) {
  .name span {
    display: none;
  }

  .name::after {
    content: "JJK";
  }
}

@media only screen and (max-width: 380px) {
  .lastname {
    width: 20px;
  }
  #firstname {
    font-size: 0px;
  }
  #firstname::after {
    font-size: 26px;
    content: "JJ";
  }

  #surname {
    font-size: 0px;
  }
  #surname::after {
    font-size: 26px;
    content: "K";
  }
}

/*
 * Animations
*/
@keyframes shine {
  from {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 10px white;
    background-color: white;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px white;
  }
  40% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px white;
  }
}
/*@keyframes reveal {
  from {
    margin-left: 0px;
    opacity: 0;
  }
  to {
    margin-left: 120px;
    opacity: 1;
  }
}*/
@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}