body {
  background-image: url(../src/simplistic-mountain-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}
