body {
  background-image: url(../../src/simplistic-mountain-2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.card-head {
  animation: fadein 1s forwards 0s;
}

.col-card {
  animation: fadein 1s forwards 0s;
}

.pr-card {
  color: white;
  padding: 0 !important;
  min-height: 20em;
  max-height: 20em;
  min-width: 14em;
  width: 18em !important;
  /*animation: shine 4s forwards 2s;*/
  transition: box-shadow 0.45s, transform 0.45s, color 0.45s;
  cursor: pointer;
}
.pr-card:hover {
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);*/
  transform: translateY(-4px);
}

.pr-card:hover .pr-icon {
  width: 180px;
}

.pr-card-overlay {
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 2em;
}

.pr-icon {
  width: 80px;
  height: auto;
  transition: width 0.45s;
}

.pr-icon-container {
  min-height: 12.5em;
  max-height: 12.5em;
}

.name-container {
  margin-top: 1.2em;
  font-size: 1.2em;
  min-height: 4.5em;
  max-height: 4.5em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.tags-container {
  min-height: 4.5em;
  max-height: 4.5em;
}

.pr-tag {
  color: #99ffdd;
  text-shadow: 0 0 5px #99ffdd7e;
  font-size: 1em;
}

/**
  *   Media Rules
  */
@media screen and (max-width: 900px) {
  #main {
    flex-wrap: wrap;
  }
  #form {
    text-align: center;
    width: 20%;
  }
  input[type="text"],
  [type="email"] {
    width: 300px !important;
  }
  #pr-options {
    text-align: center;
  }
  textarea {
    width: 300px !important;
  }
  h1 {
    color: #f7931e;
    font-size: 3em !important;
  }
  h3 {
    color: #f7931e;
    font-size: 1.7em !important;
  }
}

/**
  *   Keyframes
  */
@keyframes shine {
  0% {
    box-shadow: 0 0 15px #f7921e00;
  }
  100% {
    box-shadow: 0 0 15px #f7921e;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
