body {
  background-color: black !important;
  height: 100%;
  /*font-family: monospace, "Quicksand", sans-serif;*/
  font-size: 18px;
}

p {
  margin: 0 !important;
}

.linux {
  color: white !important;
}

.initial-console {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  float: left;
  font-size: 16px;
  text-overflow: ellipsis;
  width: 100%;

  /* Required for text-overflow to do anything */
  overflow: visible;
  /*animation: unload-console 0.1s 12s forwards;*/
}

@media only screen and (max-width: 600px) {
  .initial-console {
    float: none;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    white-space: pre-line;
  }
}

.console {
  width: 100%;
  font-family: monospace, "Quicksand", sans-serif;
  opacity: 0;
  color: white;
  float: left;
  /*animation: load-console 0.1s 12s forwards;*/
}

#console-input {
  display: flex;
}

.console-input-label {
  padding-top: 8px;
  width: auto;
}

.console-input-field {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  width: 100%;
}